In [5]:
import pandas as pd

In [6]:
listunia = [1, 2, 3, 7, 9]
series = pd.Series(listunia)
print(series)

0    1
1    2
2    3
3    7
4    9
dtype: int64

In [7]:
df = pd.read_csv('Data.csv')
print(df.head())

   ID     Name  Age   Salary Department
0   1    Alice   24  50000.0         HR
1   2      Bob   30  60000.0    Finance
2   3  Charlie   35  55000.0         HR
3   4    David   29      NaN         IT
4   5      Eva   42  62000.0    Finance

In [9]:
salary = df['Salary'].tolist()
print(salary)

[50000.0, 60000.0, 55000.0, nan, 62000.0]

In [10]:
missing_vals = df[df['Salary'].isnull()]
print(missing_vals)

   ID   Name  Age  Salary Department
3   4  David   29     NaN         IT

In [12]:
mean_salary = df['Salary'].mean()
df['Salary'].fillna(mean_salary, inplace=True)
print(df)

   ID     Name  Age   Salary Department
0   1    Alice   24  50000.0         HR
1   2      Bob   30  60000.0    Finance
2   3  Charlie   35  55000.0         HR
3   4    David   29  56750.0         IT
4   5      Eva   42  62000.0    Finance

C:\Users\NOIKO\AppData\Local\Temp\ipykernel_5604\2483764189.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(mean_salary, inplace=True)

In [13]:
df['Triple_Age'] = df['Age'] * 2
print(df)

   ID     Name  Age   Salary Department  Triple_Age
0   1    Alice   24  50000.0         HR          48
1   2      Bob   30  60000.0    Finance          60
2   3  Charlie   35  55000.0         HR          70
3   4    David   29  56750.0         IT          58
4   5      Eva   42  62000.0    Finance          84

In [16]:
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    61000.0
HR         52500.0
IT         56750.0
Name: Salary, dtype: float64

In [18]:
df2 = pd.DataFrame({
    'ID' : [1, 2, 3, 4, 5],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

merged_df = pd.merge(df, df2, on='ID')
print(merged_df)

   ID     Name  Age   Salary Department  Triple_Age         City
0   1    Alice   24  50000.0         HR          48     New York
1   2      Bob   30  60000.0    Finance          60  Los Angeles
2   3  Charlie   35  55000.0         HR          70      Chicago
3   4    David   29  56750.0         IT          58      Houston
4   5      Eva   42  62000.0    Finance          84      Phoenix

In [19]:
def age_cat(age):
    if age < 30:
        return 'Younggg'
    elif 30 <= age <= 40:
        return 'Middlee mann'
    else:
        return 'Senior boommer'
    
df['Age_Name'] = df['Age'].apply(age_cat)
print(df)

   ID     Name  Age   Salary Department  Triple_Age        Age_Name
0   1    Alice   24  50000.0         HR          48         Younggg
1   2      Bob   30  60000.0    Finance          60    Middlee mann
2   3  Charlie   35  55000.0         HR          70    Middlee mann
3   4    David   29  56750.0         IT          58         Younggg
4   5      Eva   42  62000.0    Finance          84  Senior boommer

In [21]:
# pivoted_dataframe = df.pivot(index='ID', columns='Name', values='Salary')
# print(pivoted_dataframe)

df = pd.DataFrame({
    'Date': ['2024-10-01', '2024-10-01', '2024-10-02', '2024-10-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
})
pivot_df = df.pivot(index='Date', columns='Product', values='Sales')
print(pivot_df)

Product       A    B
Date
2024-10-01  100  150
2024-10-02  200  250